*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: black;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  width: 100%;
  background-color: aquamarine;
}
.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding: 15px 30px;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.header-navbar {
  display: flex;
  justify-content: space-between;
  min-height: 54px;
}
.header-menu {
  width: 100%;
  position: absolute;
  top: 54px;
  right: 0;
  display: none;
  flex-direction: column;
  padding: 15px 0;
  text-transform: uppercase;
  background-color: rgb(133, 125, 125);
}
.menu-item {
  list-style: none;
}
.menu-link {
  color: #fff;
  text-decoration: none;
  line-height: 2;
}
